
*{
    margin: 0;
    padding: 0;
}
.feature{
    color: #000;
}

.title{
    background-color: #377D71;
}
.logo{
    padding-left: 50px;
    
}
.right-nav{
    padding-right: 100px;
}

.headPhoto{
    box-shadow: 10px 10px #54BAB9;
}
.random{
    padding: 25px;
    text-align: center;
}

.card{
    color: black;
}
h1{
    color: white;
    text-shadow: 2px 2px 4px #000;
}
p{
    color: white;
}
.quote{
    text-align: right;
    color: white;
}
.tribute{
    padding-top: 70px;
    padding-bottom: 60px;
    padding-right: 400px;
    padding-left: 400px;
    background-color: #377D71;
}

.action{
    padding: 200px;
    text-align: center;
}


.footer2{
    padding: 10px;
    background-color: #1A4D2E;
    color: white;
}
.bgimg-1, .bgimg-2{
    position: relative; 
     /* opacity: 0.65; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bgimg-1 {
    background-image: url("/img/parallax.jpg");
    min-height: 100%;
    margin: 25px 0;
  }

  .bgimg-2 {
    background-image: url("/img/parallax.jpg");
    min-height: 400px;
  }
  